{% extends 'base.html.twig' %}

{% block title %}Boîte de réception{% endblock %}

{% block main %}

    <div class="">
        <h4>Boîte de réception</h4>

        <ul class="collection">
            {% for data in reception %}

                <li class="collection-item">

                    <a href="/email/{{ data.id }}/delete"><i class="material-icons right" style="color: grey">delete</i></a>
                    <a href="/email/{{ data.id }}/edit"><i class="material-icons right" style="color : #00C3AE">create</i></a>

                    <a class="reception" href="/email/{{ data.id }}" title="email"><p><b>Expéditeur
                                : </b> {{ data.sender }}</p>
                        <p>Objet : {{ data.subject }}</p>
                        <p>Date : {{ data.date | date }}</p>
                    </a>

                </li>

            {% endfor %}
        </ul>
    </div>

{% endblock %}
