body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a.reception{
    display: flex;
    justify-content: space-around;
}

.mailForm{
    height: 500px;
    width: 600px;
    margin: 80px auto;
}