<nav style="background-color:#1F2633">
    <div class="nav-wrapper">
        <a href="/email" class="brand-logo"><i class="material-icons right">email</i>My Webmail</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/reception">Boîte de réception</a></li>
            <li><a href="/mailing">Message envoyés</a></li>
            <li><a href="">Catégories</a></li>
            <li><a href="/email/new" class="waves-effect waves-light btn"><i class="material-icons left">create</i>Nouveau</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Boîte de réception</a></li>
    <li><a href="badges.html">Message envoyés</a></li>
    <li><a href="collapsible.html">Catégories</a></li>
    <li><a href="/email/new" class="waves-effect waves-light btn"><i class="material-icons left">create</i>Nouveau</a></li>
</ul>

