{% extends 'base.html.twig' %}

{% block title %}Boîte de réception{% endblock %}

{% block main %}

    <div class="">
        <h4>Message envoyés</h4>

        <ul class="collection">
            {% for data in mailing %}

                <li class="collection-item reception">
                    <a href="/email/{{ data.id }}/delete_mailing"><i class="material-icons right">delete</i></a>

                    <a class="reception" href="/email/{{ data.id }}" title="email"><p>Destinataire
                            : {{ data.recipient }}</p>
                        <p>Objet : {{ data.subject }}</p>
                        <p>Date : {{ data.date | date }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
