{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block main %}


<div class="">
    <h1>Hello✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/EmailController.php'|file_link(0) }}">src/Controller/EmailController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/email/index.html.twig'|file_link(0) }}">templates/email/index.html.twig</a></code></li>
    </ul>
</div>


{% endblock %}
