{% extends 'base.html.twig' %}

{% block title %}Boîte de réception{% endblock %}

{% block main %}


    <p>Destinataire : {{ data.recipient }}</p>
    <p>Date : {{ data.date | date }}</p>
    <p>Objet : {{ data.subject }}</p>
    <p>Message : {{ data.message }}</p>

    <a href="/email/response" class="waves-effect waves-light btn"><i class="material-icons left"></i>Répondre</a>


{% endblock %}