{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block main %}

    <div class="mailForm">
    {{ form_start(form) }}
    {{ form_label(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}
