{% extends 'base.html.twig' %}

{% block title %}Réponse{% endblock %}

{% block main %}

        <div class="mailForm">
            {{ form_start(form) }}
            {{ form_label(form) }}
            {{ form_end(form) }}
        </div>

{% endblock %}
